.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.button {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  background-color: rgb(122, 161, 233);
  color: #fff;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgb(45, 72, 123);
  }
}
